# IntelliJ / Android Studio
*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Gradle
.gradle/
build/
app/build/

# Local configuration
local.properties

# Native build
.externalNativeBuild/
.cxx/

# Captures
captures/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log